<div class="container" style="width: 800px;">
    
    <h2 class="form-signin-heading">Bienvenido al soporte de Game Ready</h2><br><br>
    <p> GameReady es una plataforma para publicar videojuegos indie en etapa de desarrollo o bien sea terminados
        para darlos a conocer a la comunidad gamer y todo el publico que este dispuesto a pagar por tu videojuego.
        En GameReady Support estamos trabajando para mejorar dia con dia y hacer de GameReady la mejor opcion para
        publicar tus videojuegos, actualmente contamos con mas de 10,000 juegos publicados y mas de 6,000 ya han sido
        publicados en la tienda. Si tienes un videojuego en desarrollo te invitamos a que lo publiques y lo des a conocer.
    </p><br><br>
    <div *ngIf="this.emptyData" style="width: 500px">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button (click)="this.alertQuit()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> Escribe tu pregunta
        </div>
    </div>
    <div *ngIf="this.sendMessage" style="width: 500px">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button (click)="this.succesQuit()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Enviado!</strong> Gracias por tu paciencia, trataremos de responderte en cuanto nos sea posible
        </div>
    </div>
    <div >
        <h4 class="form-signin-heading">En que te podemos ayudar?</h4>
        <textarea name="content" rows="5" class="form-control" [(ngModel)]="this.message.content"  #content="ngModel"></textarea><br><br>
        <button class="btn btn-lg btn-primary btn-block" (click)="sendMessageSupport()" style="width: 500px; height: 60px;">Enviar</button>
    </div>
</div>